*.swp
*.pyc
*.pt
*.pkl
*.idea
*.sqlite3
*.bin
__pycache__
*-venv
*.egg-info
.vscode
.coverage
coverage.xml
report.xml
*.pytest*
*credentials*
*secret*
*.env
*.pickle
*.ipynb

# Directories
venv/
build/
dist/
wandb/
models/
.ipynb_checkpoints/